[submodule "Client/contrib/tomlplusplus"]
	path = contrib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus/
[submodule "Client/contrib/imgui"]
	path = contrib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Client/contrib/glfw"]
	path = contrib/glfw
	url = https://github.com/glfw/glfw
[submodule "contrib/imgui"]
	path = contrib/imgui
	url = https://github.com/ocornut/imgui
[submodule "contrib/tomlplusplus"]
	path = contrib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "contrib/glfw"]
	path = contrib/glfw
	url = https://github.com/glfw/glfw
